
@{
    ViewBag.Title = "EmpConfirm";
}

<h2>EmpConfirm</h2>
<p>You have jus tadded the following information to the new employee database:</p>
<p>ID: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Salary: $@Model.Salary</p>
